//color palette


//global
body {
    background-image: url('../images/pennpaper-269810.jpeg');
    text-align: center;
}

//header
.name {
    background: antiquewhite;
    margin-top: 2%;
}

#start {
    margin-top: 10%;
    background: pink;
    border: 2px solid blue;
}

//footer
.footer {
    background-color: antiquewhite;
    margin-top: 2%;
}