body {
    background-image: url("../images/pennpaper-269810.jpeg");
}

.header {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin-left: 14%;
    padding: 2px 0 2px;
    font-family: 'Dancing Script', cursive;
}

.container {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin: 2% 0 0 14%;
    padding: 5px 0 5px;
    min-height: 25%;
}

.begin {
    padding: 4%;
    border-radius: 50%;
    border: 2px solid #000001;
    margin: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.submit {
    padding: 4%;
    border-radius: 50%;
    border: 2px solid #000001;
    margin: 2%;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.footer {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin: 2% 0 0 14%;
    padding: 2px 0 2px;
    font-family: 'Dancing Script', cursive;
}