.header {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin-left: 14%;
    padding: 2px 0 2px;
}

.container {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin: 2% 0 0 14%;
    padding: 5px 0 5px;
}

.begin {
    padding: 4%;
    border-radius: 50%;
    border: 2px solid green;
    margin: 2%;
}

.submit {
    padding: 4%;
    border-radius: 50%;
    margin: 2%;
}

.footer {
    width: 75%;
    background-color: bisque;
    text-align: center;
    margin: 2% 0 0 14%;
    padding: 2px 0 2px;
}